.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  height: 500px;
  width: 448px;
  border-radius: 8px;
  border: 1px solid var(--border-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 40px 36px;
}

.card h2 {
  padding-top: 16px;
  font-weight: 400;
  font-size: 24px;
}

.card h3 {
  padding: 11px 0 35px 0;
  font-weight: 400;
  font-size: 16px;
}

.card input {
  padding: 13px 15px;
  width: 100%;
  height: 55px;
  border-radius: 4px;
  border: 1px solid var(--border-card);
  outline-color: #1973e8;
  font-size: 16px;
}

.card .btn-email {
  padding-top: 12px;
  width: 100%;
}

.card .btn-email button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  font-size: 14px;
  outline: none;
}

.card p {
  padding-top: 48px;
  color: var(--p);
  font-size: 14px;
  line-height: 1.5;
}

.card p a {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

.card .card-bottom {
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .card-bottom a {
  border: none;
  cursor: pointer;
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  margin: 8px;
}

.card .card-bottom button {
  background: var(--blue);
  color: white;
  padding: 9px 24px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.card .card-bottom button:hover {
  background: #1a66c9;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  font-size: 12px;
  width: 448px;
  color: var(--p);
}

.footer select {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.footer .footer-span span {
  margin-left: 32px;
}

.card {
  position: relative;
  transition: opacity 0.5s ease; /* Adiciona uma transição suave para a opacidade */
}

.card.loading {
  opacity: 0.5; /* Define a opacidade reduzida quando a classe "loading" está presente */
}


.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo do preloader */
  display: flex;
  z-index: 999; /* Certifica-se de que o preloader fica acima de outros elementos */
  visibility: hidden;
}

.preloader-line {
  width: 100%;
  height: 2px;
  background-color: #4285f4; /* Cor da linha azul */
  animation: preloaderAnimation 1.5s infinite linear;
}

.loading .preloader {
  visibility: visible;
}

@keyframes preloaderAnimation {
  0% {
      transform: scaleX(0);
      transform-origin: left;
  }
  50% {
      transform: scaleX(1);
      transform-origin: left;
  }
  50.1% {
      transform: scaleX(1);
      transform-origin: right;
  }
  100% {
      transform: scaleX(0);
      transform-origin: right;
  }
}


.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
